body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

.blink-enter {
  opacity: 0;
  background: grey
}
.blink-enter-active {
  opacity: 1;
  background: white;
  transition: background 2200ms;
}
.blink-exit {
  opacity: 1;
  background: white;
}